.card {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  background-color: rgba(199, 249, 255, 0.377)!important;
  color: black !important;
  border-color: rgba(30, 255, 255, 0.696) !important;
}

.card:hover * {
  color: black !important;
}




