<form [formGroup]="filtroForm" (ngSubmit)="onSubmit()" class="card card-body border-opacity-50
 bg-black text-light text-opacity-75">
  <div class="row g-2 align-items-end">

    <div class="col-md-3">
      <label class="form-label">Categoria</label>
      <input formControlName="categoria" class="form-control border-info border-opacity-50 
      bg-dark bg-opacity-75" placeholder="Dev, Frontend, Database...">
    </div>

    <div class="col-md-3">
      <label class="form-label">Livello</label>
      <input formControlName="livello" class="form-control border-info border-opacity-50
       bg-dark bg-opacity-75" placeholder="Basso, Medio, Alto...">
    </div>

    <div class="col-md-3">
      <label class="form-label">Titolo</label>
      <input formControlName="titolo" class="form-control border-info border-opacity-50 
      bg-dark bg-opacity-75" placeholder="Java, Angular...">
    </div>

    <div class="col-md-3">
      <label class="form-label">Codice Corso</label>
      <input formControlName="codiceCorso" class="form-control border-info border-opacity-50 
      bg-dark bg-opacity-75" placeholder="JAVA, ANGULAR-001...">
    </div>

    <div class="col-md-auto mt-3">
      <button type="submit" class="btn btn-primary btn-dark btn-outline-info">Filtra</button>
      <button type="button" class="btn btn-outline-secondary ms-2" (click)="onReset()">Reset</button>
    </div>

  </div>
</form>
