<div class="container mt-4">

    <button class="btn btn-secondary mb-3" (click)="goBack()">
        ⬅ Indietro
    </button>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card p-3 bg-grey text-light border-info border-2">

        <label class="form-label" for="titolo">Titolo del corso</label>
        <input id="titolo" name="titolo" class="form-control mb-3 form-control
        border-info border-opacity-50 bg-dark bg-opacity-75 text-light" 
        formControlName="titolo" autocomplete="off" />

        <button class="btn btn-info w-100" type="submit">
            Cerca docenti (Task EX02)
        </button>
    </form>

    @if (facade.loading()) {
    <div class="text-center mt-4">
        <div class="spinner-border"></div>
    </div>
    }

    @if (facade.errore()) {
    <div class="alert alert-danger mt-3">{{ facade.errore() }}</div>
    }

    @if (facade.docentiByTitolo().length > 0) {
    <div class="row g-4 mt-4">
        @for (docente of facade.docentiByTitolo(); track $index) {
        <div class="col-md-6 col-sm-6 col-lg-4">
            <app-dynamic-card-container [data]="{ tipo: 'docente', payload: docente }">
            </app-dynamic-card-container>
        </div>
        }
    </div>
    }

</div>