<div class="container mt-4">

  <button class="btn btn-secondary mb-3" (click)="goBack()">
    ⬅ Indietro
  </button>

  <h2 class="text-info mb-3">EX03 – Lista completa docenti</h2>

  @if (facade.loading()) {
    <div class="text-center mt-4">
      <div class="spinner-border"></div>
    </div>
  }

  @if (facade.errore()) {
    <div class="alert alert-danger mt-3">{{ facade.errore() }}</div>
  }

  @if (facade.listaDocenti().length > 0) {
    <div class="row g-4 mt-4">
      @for (docente of facade.listaDocenti(); track $index) {
        <div class="col-md-6 col-sm-6 col-lg-4">
          <app-dynamic-card-container
            [data]="{ tipo: 'docenteConCorsi', payload: docente }">
          </app-dynamic-card-container>
        </div>
      }
    </div>
  }

</div>
